<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Storekit Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>651BB94B1E902F81002EFC7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>651BB95F1E902F82002EFC7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>651BB96A1E902F82002EFC7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
